* {
   
    box-sizing: border-box;
    transition: all 0.8s ease;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-style: italic;
    color: rgb(205, 60, 140);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
    
  
  body {
    background: linear-gradient(45deg, #f06291, #fffde7);
  }
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(118, 78, 78);
    background-color: #f5dcf9;
    #display {
      color: #696969;
      background-color: #ffd5d8;
      border-radius: 20px;
      box-shadow: -1px 4px 1px 1px rgb(200, 127, 127);
      margin: 0 10px;
      height: 80px;
      width: auto;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 30px;
      font-family: cursive;
      margin-bottom: 20px;
      font-weight: 800;
    }
    #equal {
      height: 130px;
    }
    #clear {
      background-color: #ffd5d8;
      color: #f967f3;
    }
    .btn-number {
      background-color: #c3eaff;
      color: #232323;
      font-weight: 700;
      box-shadow: 0 0 8px rgb(179, 131, 199);
    }
    .btn-operator {
      background-color: #ffd0fb;
      color: #f967f3;
      font-weight: 800;
      box-shadow: 0 0 8px rgb(179, 131, 199);
    }
    .btn-equal {
      background-color: #adf9e7;
      color: #000;
      font-weight: 800;
      box-shadow: 0 0 8px rgb(179, 131, 199);
    }
    /* dark theme */
    &.dark {
      background-color: #1B1B1B;
      #display {
          background-color: #c6c6c6;
          color: #232323;
          box-shadow: -1px 4px 1px 1px rgb(255, 255, 255);
      }
      #clear {
          background-color: #ff6090;
          color: white;
      }
      .btn-number {
          background-color: #55e3ff;
          color: #232323;
          font-weight: 600;
      }
      .btn-operator {
          background-color: #f81eb3;
          color: #ffffff;
          font-weight: 700;
      }
      .btn-equal {
          background-color: #5bfcde;
          color: #ffffff;
          font-weight: 700;
      }
    }
  }
  .theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &::before {
  
      content:'';
      position: absolute;
      height: 30px;
      width: 30px;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #333;
      z-index: -1;
    }
  }
  .theme-toggler.active {
    color: #333;
    &::before {
      background-color: #8a3dfe;
    }
  }
  button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }